<div class="container coasters-index">

  <a href="/coasters/new" class="btn btn-dark">Crear nueva montaña rusa</a>

  <h1 style="font-weight: 100">Índice de montañas rusas</h1>

  <hr>
  {{#each coastersList}}
  <div class="row">
    <div class="col-md-8">
      <h4>{{this.name}}</h4>
      <p>{{trimString this.description 200}}</p>
      <small><strong>Longitud: </strong> {{this.length}}m | <strong>Inversiones: </strong> {{this.inversions}} |
        <strong>Parque: </strong> {{this.park.name}}</small>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col"><a href="/coasters/{{id}}" class="btn btn-sm btn-dark">Ver detalles</a></div>
        <div class="col"><a href="/coasters/edit?id={{id}}" class="btn btn-sm btn-dark">Editar</a></div>
        <div class="col"><a href="/coasters/delete?id={{id}}" class="btn btn-sm btn-dark">Eliminar</a></div>
      </div>



    </div>
  </div>
  <hr>
  {{/each}}
</div>